*{margin:0;padding:0;box-sizing: border-box;}
body{
    background: cadetblue;
    font-size: 1rem;
    font-family: Arial;
}
.contanner{
    margin: 0 auto;
    width: 95%;
    max-width: 390px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    background: white;
    border-radius: 10px;
    /*text-align: center;*/
    padding: 20px;
}
.form-row{
    margin-bottom: 12px;
}
.form-row label{
    display: block;
    margin-bottom: 4px;
}
.form-row input{
    width: calc(100% - 16px);
    padding: 8px;
    border-radius: 4px;
    border: 1px solid black;
    font-size: 1.2rem;
}
#cidade1, #ibge1{
    flex-direction: row;
    display: flex;
}
#cidade{
    width: 150%;

}
.uf input{
    width: 48%;
    margin-left: 90px;
}
#ibge{
    width: 150%;
}
.uf label{
    margin-left: 90px;
}